*,body,*::after,*::before{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
body.chakra-ui-dark .navlink.active{
    background: #3b3270;
    color: #d0d3e7;
}
.navlink.active{
    background: var(--chakra-colors-blue-50);
    color: #226fe9;
}

.loader{
    width: 80px;
}
.modalform{
    width: 100%;
}