:root
{
  --primary-hue: 210;
    --gray-hue :240;
    --color-priary : hsl(var(--primary-hue),100%,50%);
    --color-primary-variant : hsl(var(--primary-hue),100%,65%);
    --color-secondary : #ffb116;
    --color-gray-100: hsl(var(--gray-hue),47%,94%);
    --color-gray-200 : hsl(var(--gray-hue),26%,75%);
    --color-gray-300: hsl(var(--gray-hue),24%,64%);
    --color-gray-400: hsl(var(--gray-hue),16%,41%);
    --color-gray-500: hsl(var(--gray-hue),44%,25%);
    --color-gray-600: hsl(var(--gray-hue),48%,15%);
    --color-white: #fff;

    --container-width-lg: 85%;
    --container-width-md: 90%;
    --container-width-sm: 98%;

    --transition: all 500ms ease;

}


/* ======================= general style ======================== */
.landing{
    color: var(--color-gray-200);
    background-color: var(--color-gray-600);
}
.container{
    width: var(--container-width-lg);
}
.btn{
    border: 1px solid var(--color-gray-500);
    padding: 5px 20px;
    font-size: .9rem;
    white-space: nowrap;
    border-radius: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-gray-600);
}
.btn:hover{
    border: 1px solid var(--color-gray-100);
    background-color: var(--color-gray-500) ;
    transition: var(--transition);
    color: var(--color-secondary) 
}
section{
    display: grid;
    place-items: center;
    padding: 5rem 0;

}
img{
    width: 100%;
    display: block;
    object-fit: cover;  
}


/* ================================ nav Style ================== */
.nav{
    display: grid;
    place-items: center;
    padding: 10px;
    background: var(--color-priary);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 222;

}

.nav__container{
    display: flex;
    justify-content: space-between;
}
.nav__container img{
    width: 100px;
}
.nav__links{
    display: flex;
    gap: 1.4rem;
    font-size: 1.1rem;
    color: var(--color-gray-100);
    justify-self: center;
    width: auto;
    justify-content: center;
}
.nav__link{
    position: relative;
}
.nav__link a:hover{
    color: var(--color-gray-600);

}
.nav__link a.active::before{
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    content: '';
    left: 30%;
    bottom: -20px;
    background: var(--color-priary);
}
.shop__show{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.show_nav{
    font-size: 1.3rem;
    color: var(--color-gray-600);
    display: none;
}
/* ================================== hero_container ================================= */
.hero__section{
    padding: 9rem 0;
}
.hero_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.left__hero--content{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
}
.bg_text{
    font-size: 1.2rem;
    padding: .6rem 1rem;
    z-index: 2;
    color: var(--color-white);
    font-weight: 400;
    position: relative;
    font-family: cursive;
}
.bg_text::before{
    position: absolute;
    content:  url('./assets/text_bg.svg');
    z-index: -1;
    left: -10px;
    top: 5px;

}
.hero__head__text h2{
    font-size: 2.7rem;
    line-height: 1.4;
    color: var(--color-white);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero__head__detail{
    color: var(--color-gray-300);
    line-height: 1.3;
    text-align: left;
    padding-top: .6rem;
    padding-bottom: 1.5rem;
}
.get_start_btn{
    background-color: var(--color-priary);
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 400;    
}
.get_start_btn:hover{
    background-color: var(--color-secondary);
    color: var(--color-gray-600);
    border-color: var(--color-gray-600);

}

.hero__right{
    display: flex;
    justify-content: center;
}


.hero_img_con::before{
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    background: linear-gradient(90deg,var(--color-secondary),var(--color-gray-600)) ;
    border-radius: 50%;
    top: 4rem;
    z-index: -1;
    filter: blur(15px);
    right: 2rem;

}
.hero_img_con{
    position: relative;
    z-index: 5;

    width: 300px;
}

/* ================================================= feature ============================================== */
.feature_container{
    text-align: center;
}
.cards{
    display: grid;
    gap: 2rem;
    padding-top: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-gray-500);
    padding: 3rem 2rem;
    text-align: center;
    gap: .5rem;
    border-radius: 0 3rem;
    border: 1px solid transparent;
    transition: var(--transition);
    cursor: pointer;
}
.card h2{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
}
.card p{
    font-size: 1rem;
}
.card:hover{
    background: none;
    border: 1px solid var(--color-gray-100);

}
.bg_sect_head::before{
    left: -30px;

}
.card img{
    width: 50px;
}

/* ===================================== trainers__section ====================== */
.trainers_container{
    text-align: center;

}
.trainers_cards{
    grid-template-columns: 1fr 1fr 1fr;
}
.trainers_card{
    padding: 10px;
}
.trainers_card img{
    width: 100%;
    border-radius: 0 3rem;
}
.details{
padding: 1rem 0 ;    
display: flex;
flex-direction: column;

}
.trainer_links{
    padding-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
}
.trainer_link{
    background-color: var(--color-gray-600);
    padding: 6px;
    border-radius: 40%;
}
/* ========================= whyus_container ======================= */
.whyus_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.whyus_left img{
    height: 80%;
    
}
.whyus_right_conntent{
    padding-top: 2rem;
    width: 80%;
}
.whyus_right_conntent h2{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.whyus_right_conntent p{
    font-size: 1.2rem;
    padding-top: .5rem;
}
.whys_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1rem 0;
}
.why{
    display: flex;
    gap: .4rem;
    align-items: center;
}
.why img{
    width: 60px;
    background: var(--color-gray-500);
    padding: 10px;
    border-radius: 50%;
    transition: var(--transition);
}
.why img:hover{
    background: var(--color-priary);

}
.why h3{
    font-size: 1.3rem;
    font-weight: bold;
}
.whyus_right_conntent button{
    margin-top: 1rem;
    font-weight: bold;
}
/* ===================================== offer ================================= */
.offer__section{
    background: var(--color-gray-500);

}
.offer_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    place-items: center;
}
.offer_left h2{
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}
.offer_left p{
    font-size: 1.1rem;
    padding: 1rem 0;
}
/* ============================ wo_gallery_container =========================== */
.wo_gallery_imgs img{
    filter: grayscale(10);

}
.wo_gallery_imgs img:hover{
    transition: var(--transition);
    filter: grayscale(0);

}

.wo_gallery_container{
    padding: 4rem 0;
    text-align: center;
}
.wo_gallery_imgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem ;
}
/* ========================= package__section ===================== */
.package_container{
    text-align: center;
}
.package_container .bg_sect_head::before{
    left: -10px;
}
.prices{
    padding: 4rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.price{
    padding: 0;
    overflow: hidden;
    gap: 0;
    padding-bottom: 1rem;
}
.price_tag{
    /* background-color: red; */
    background-color: var(--color-priary);
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    width: 100%;
}
.price img{
    width: 100%;
}
.price .details{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.details h2{
    font-size: 1.2rem;
    font-weight: bold;
}
.details p{
    font-size: 1.1rem;
}
.details .btn{
    margin-top: 1rem;
}

/*  ================================================== media query for 1024px ================================== */
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }
    .btn{
        padding: 3px 15px;
        font-size: .8rem;
    }    
    /* ================================ nav Style ================== */
    .nav__container{
        justify-content: space-between;
    }
    .nav__links{
        gap: 1.4rem;
        font-size: 1rem;
    }    
    /* ================================== hero_container ================================= */
.left__hero--content{
    gap: .5rem;
}
.bg_text{
    font-size: 1.1rem;
    padding: .4rem 1rem;
}
.hero__head__text h2{
    padding-top: .8rem;
    font-size: 2.3rem;
    line-height: 1.2;
}
.hero__head__detail{
    padding-top: .4rem;
    padding-bottom: 1rem;
}



.hero_img_con::before{
    width: 200px;
    height: 200px;

}
.hero_img_con{
    width: 250px;
}

/* ================================================= feature ============================================== */
.cards{
    grid-template-columns: 1fr 1fr;
}

/* ===================================== trainers__section ====================== */
.trainers_cards{
    grid-template-columns: 1fr 1fr 1fr;
}

/* ========================= whyus_container ======================= */
.whyus_right_conntent{
    padding-top: 2rem;
    width: 100%;
}
.whyus_right_conntent h2{
    font-size: 1.6rem;
}
.whyus_right_conntent p{
    font-size: 1rem;
}
.why h3{
    font-size: 1.1rem;
}
.why img{
    width: 50px;
    padding: 5px;
}


}
/*  ================================================== media query for 910px ================================== */
@media screen and (max-width: 910px) {
    .container{
        width: var(--container-width-sm);
        padding: 0 20px;
    }
    .btn{
        padding: 2px 15px;
    }    
    /* ================================ nav Style ================== */
    .nav__container{
        justify-content: space-between;
    }
    .nav__links{
        gap: 1.4rem;
        font-size: 1rem;
    }    
    
    .nav__container img{
        width: 100px;
    }
    .nav__link a:hover{
        color: var(--color-secondary);
    }
    .nav__links{
        padding: 40px 10px;
        background-color: var(--color-gray-500);
        display: none;
        width: 100%;
        height: 100vh;
        left: 0;
        right: 0;
        top: 100%;
        flex-direction: column;
        position: absolute;
        justify-items: center;

    }
    .nav_show{
        display: flex;
    }

    .nav__link{
        text-align: center;
    }
    .nav__link a.active::before{
        display: none;
    }
    .show_nav{
        display: block;
    }

    /* ===================================== trainers__section ====================== */
.trainers_cards{
    grid-template-columns: 1fr 1fr ;
}
    
    
}

/*  ================================================== media query for 780px ================================== */
@media screen and (max-width: 780px) {
    /* ================================== hero_container ================================= */
.hero__section{
    padding: 9rem 0;
}
.hero_container{
    grid-template-columns: 1fr ;
    gap: 1rem;
}
.left__hero--content{
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.bg_text{
    font-size: 1.2rem;
}
.hero__head__text h2{
    font-size: 2.7rem;
    line-height: 1.2;
}
.hero__head__detail{
    line-height: 1.3;
    padding-top: .4rem;
    padding-bottom: .7rem;
}
.get_start_btn{
    font-size: 1.1rem;
}


.hero_img_con::before{
    width: 200px;
    height: 200px;

}
.hero_img_con{
    width: 250px;
}

/* ========================= whyus_container ======================= */
.whyus_container{
    grid-template-columns: 1fr ;
    text-align: center;
}
.whyus_left{
    display: none;
}
.whyus_right_conntent{
    padding-top: 2rem;
    width: 100%;
}
.whyus_right_conntent h2{
    font-size: 1.7rem;
    text-align: center;
}
.whyus_right_conntent p{
    font-size: 1.1rem;
}
.why img{
    width: 60px;
    padding: 10px;
}
.why h3{
    font-size: 1.2rem;
}
/* ===================================== offer ================================= */
.offer_container{
    grid-template-columns: 1fr ;
    text-align: center;
}
.offer_left h2{
    color: white;
    font-size: 1.5rem;
}
.offer_left p{
    font-size: 1rem;
}
.offer_right img{
    display: none;
}
/* ============================ wo_gallery_container =========================== */
.wo_gallery_imgs img{    
    filter: grayscale(10);

}
.wo_gallery_imgs img:hover{
    transition: var(--transition);
    filter: grayscale(0);

}

.wo_gallery_container{
    padding: 4rem 0;
    text-align: center;
}
.wo_gallery_imgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem ;
}
/* ========================= package__section ===================== */
.package_container .bg_sect_head::before{
    left: -10px;
}
.prices{
    padding: 4rem 0 2rem 0;
    grid-template-columns: 1fr 1fr ;
}
.price_tag{
    font-size: 1.1rem;
}
.details h2{
    font-size: 1.1rem;
}
.details p{
    font-size: 1rem;
}


}


/*  ================================================== media query for 540px ================================== */
@media screen and (max-width: 540px) {
/* ================================ nav Style ================== */
.nav{
    padding: 10px;

}

.nav__container img{
    width: 90px;
}
/* ================================== hero_container ================================= */
.hero__section{
    padding: 10rem .7rem 7rem .7rem;
}
.left__hero--content{
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
}

.bg_text{
    font-size: 1.1rem;
    font-weight: 500;
}
.hero__head__text h2{
    font-size: 2.3rem;
}
.hero__head__detail{
    line-height: 1.3;
    text-align: center;
    padding-top: .4rem;
    padding-bottom: 1rem;
}
.get_start_btn{
    font-size: 1.2rem;
}



.hero_img_con::before{
    width: 150px;
    height: 150px;

}
.hero_img_con{

    width: 200px;
}

/* ================================================= feature ============================================== */
.cards{
    grid-template-columns: 1fr ;
}

/* ===================================== trainers__section ====================== */
.trainers_cards{
    grid-template-columns: 1fr ;
}
/* ========================= whyus_container ======================= */
.whyus_right_conntent h2{
    font-size: 1.5rem;
}
.whyus_right_conntent p{
    font-size: 1rem;
    
}
.whys_list{
    grid-template-columns: 1fr;
}
.why h3{
    font-size: 1.2rem;
}

/* ========================= package__section ===================== */
.prices{
    grid-template-columns: 1fr;
}

}